@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 16px;

  @include media-breakpoint-up (md) {
    font-size: 18px;
  }
}

@include media-breakpoint-down (sm) {
  h1, .h1 {
    font-size: 2rem;
  }

  h4, .h4 {
    font-size: 1.25rem;
  }
}

.ws-preline {
  white-space: pre-line;
}
