// Colors
$bts-gray-500: #adb5bd;

$grey-300: #f4f5f9;
$grey-500: #ecedf2;
$grey-700: #69707b;
$primary: #D32F2F;
$body-color: $grey-700;
$dark: #21262c;
$light: #F4F5F9;
// $light: hsl(203, 26%, 94%); // blue tinted grey

$red: #fc4f52;
$blue: #61beea;
$yellow: #fdbe53;
$green: #28d382;

$indigo: #6610f2;
$purple: #6f42c1;
$orange: #fd7e14;
$teal: #20c997;
$cyan: #17a2b8;
$navbar-light-color: rgba(black, .6);

// Font
$font-family-sans-serif: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 400;
$headings-color: $dark;
$font-weight-bold: 500;
$line-height-base: 1.8;

// Forms
$input-bg: transparent;
$input-border-width: 0;
$input-border-radius: 0;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-padding-x: 0;
$input-color: $dark;
$input-transition: border-color 0.15s ease-in-out;
$form-group-margin-bottom: 2rem;
$input-placeholder-color: $bts-gray-500;

$border-width: 2px;
$spacer: 2rem;
$grid-gutter-width: 3rem;
