<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <RouterLink
        to="/"
        class="text-dark navbar-brand font-weight-bold"
      >
        <img
          :src="require('@/assets/img/logo-linkom.png')"
          alt=""
          height="35"
          class="mr-1"
        >
        <span class="align-middle">
          Linkom
        </span>
      </RouterLink>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="toggle"
      >
        <span class="navbar-toggler-icon" />
      </button>

      <Transition name="mobileNav">
        <div
          v-show="show"
          id="navbarSupportedContent"
          class="collapse navbar-collapse show"
        >
          <ul class="navbar-nav mx-auto pt-2 pt-md-0">
            <li class="nav-item">
              <RouterLink
                to="/"
                active-class="active"
                class="nav-link d-md-none"
                exact
              >
                Accueil
              </RouterLink>
            </li>
            <li
              v-for="(item, index) in items"
              :key="index"
              class="nav-item"
            >
              <RouterLink
                :to="item.link"
                class="nav-link px-lg-2"
                active-class="active"
              >
                {{ item.text }}
              </RouterLink>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li
              class="nav-item"
            >
              <RouterLink
                class="nav-link"
                to="/contact"
                active-class="active"
              >
                <span class="align-middle">
                  Contact
                </span>
              </RouterLink>
            </li>
          </ul>
        </div>
      </Transition>
    </div>
  </nav>
</template>

<script>
export default {
  data: () => ({
    show: false,
    items: [
      { text: 'Services', link: '/services' },
      { text: 'Réalisations', link: '/work' },
      { text: 'Prix', link: '/pricing' },
      { text: 'Recrutement', link: '/careers' }
    ]
  }),
  created () {
    this.$router.afterEach(_ => {
      this.show = false
    })
  },
  methods: {
    toggle () {
      this.show = !this.show
    }
  }
}
</script>

<style lang="scss">
.navbar {
  box-shadow: $box-shadow-sm;
  @include media-breakpoint-up(lg) {
    box-shadow: none;
  }
}

.mobileNav-enter-active,
.mobileNav-leave-active {
  will-change: max-height;
  overflow: hidden;
  max-height: 600px; // must be always higher than expected nav height
  transition: max-height 0.5s;
}
.mobileNav-enter,
.mobileNav-leave-to {
  max-height: 0;
}

.active {
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 2px;
    background: $primary;
    width: 20%;
    position: absolute;
    bottom: 6px;

    @include media-breakpoint-up(lg) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: navActive 250ms forwards;
    }
  }
}

@keyframes navActive {
  from {
    width: 20%;
  }
  to {
    width: 70%;
  }
}
</style>
