<template>
  <section class="py-4 py-md-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-md-center mb-4">
          <p class="text-primary">
            Rejoignez notre aventure
          </p>
          <h1 class="m-0">
            {{ fm.heading }}
          </h1>
        </div>
        <div class="col-12 text-center mb-4">
          <img
            :src="$cloudinary(`/w_1000,h_445,c_fill,g_auto,f_auto,q_auto/v1545496175/linkomweb-team-cover.jpg`)"
            alt=""
            class="img-fluid rounded"
          >
        </div>
        <div class="col-md-10">
          <h2
            class="h4"
            v-text="fm.aboutUs.heading"
          />
          <div
            class="mb-4 ws-preline"
            v-text="fm.aboutUs.text"
          />
          <h2
            class="h4"
            v-text="fm.lookingFor.heading"
          />
          <div
            :md="fm.lookingFor.text"
            class="mb-4 ws-preline"
          />
          <h2
            class="h4"
            v-text="fm.openPositions.heading"
          />
          <p class="mb-3">
            Ci-dessus sont les postes qu'on recherche activement. Si vous souhaitez nous rejoindre mais vous ne voyez pas votre rôle! Ecrivez-nous directement sur <a
              :href="`mailto:${fm.jobmail}`"
              class="text-dark"
              v-text="fm.jobmail"
            />
          </p>
          <!-- <div class="row mb--3">
            <div
              v-for="(job, index) in availableJobs"
              :key="index"
              class="col-sm-6 col-xl-4 mb-3"
            >
              <RouterLink
                :style="getRandomStyles(index)"
                :to="job.permalink"
                class="p-2 rounded shadow-sm d-flex flex-column justify-content-end block-link"
              >
                <h3 class="h2">
                  {{ job.title }}
                </h3>
                <p class="m-0 text-black-50">
                  {{ job.subtitle }}
                </p>
              </RouterLink>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  colors: [
    'hsl(46, 100%, 75%)',
    'hsl(210, 88%, 75%)',
    'hsl(120, 100%, 75%)'
  ],

  async asyncData () {
    const { attributes } = await import('@/content/careers.md')

    const jobs = {}

    function importAll (r) {
      r.keys().forEach(key => {
        jobs[key] = r(key)
      })
    }

    importAll(require.context('../content/jobs', false, /\.md$/))

    let availableJobs = []

    for (let job in jobs) {
      availableJobs.push(jobs[job].attributes)
    }

    return { fm: attributes, availableJobs }
  },

  methods: {
    getRandomStyles (index) {
      return {
        background: this.$options.colors[index % 3],
        height: '20rem'
      }
    }
  }
}
</script>
