<template>
  <section>
    <div class="container py-4 py-md-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-10 text-md-center">
          <h1 class="h1 font-weight-normal text-dark">
            {{ fm.heading }}
          </h1>
          <p class="text-body">
            {{ fm.subheading }}
          </p>
        </div>
      </div>
      <!--
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
       -->
      <picture>
        <source
          srcset="https://res.cloudinary.com/linkom/image/upload/v1546288222/m-illustration.svg"
          media="(max-width: 576px)"
        >
        <img
          src="https://res.cloudinary.com/linkom/image/upload/v1546129722/illustration-linkom.svg"
          class="img-fluid"
        >
      </picture>
      <!-- <img
        :src="`${$site.themeConfig.cloudinaryPrefix}/v1546288222/m-illustration.svg`"
        alt=""
        class="img-fluid d-block d-sm-none"
      >
      <img
        :src="`${$site.themeConfig.cloudinaryPrefix}/v1546129722/illustration-linkom.svg`"
        alt=""
        class="img-fluid d-none d-sm-block"
      > -->
    </div>
    <div class="container py-4 py-md-5">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p class="text-primary">
            Nos services
          </p>
          <h1 class="mb-5">
            {{ servicesFM.heading }}
          </h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10 mb-4">
          <div class="row justify-content-around mb--3">
            <div
              v-for="(service, index) in servicesFM.services"
              :key="index"
              class="col-md-6 mb-3 service-col"
            >
              <span class="icon d-inline-flex justify-content-center rounded-circle p-1 mb-2 border">
                <i class="material-icons">
                  {{ service.icon }}
                </i>
              </span>
              <h2 class="h4 text-dark">
                {{ service.title }}
              </h2>
              <p v-text="service.short_description" />
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <RouterLink
            to="/services/"
            class="btn btn-light"
          >
            En savoir plus &rarr;
          </RouterLink>
        </div>
      </div>
    </div>
    <div class="container py-4 py-md-5">
      <div class="row justify-content-center">
        <div class="col-md-10 mb-4">
          <p class="text-primary">
            Nos clients
          </p>
          <h1 class="mb-5">
            {{ fm.clients_heading }}
          </h1>
          <div class="row justify-content-between align-items-center mb--5">
            <div
              v-for="(img, index) in fm.clients_logos"
              :key="index"
              class="col-6 col-md-4 col-lg-3 mb-5 text-center"
            >
              <img
                :data-src="img"
                alt=""
                class="img-fluid lazyload logo-img"
              >
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <RouterLink
            to="/realisations/"
            class="btn btn-light"
          >
            Plus de références &rarr;
          </RouterLink>
        </div>
      </div>
    </div>
    <div class="container py-4 py-md-5">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-5 mb-3 m-md-0">
          <h1>Utiliser toute la force du web moderne</h1>
          <p>Nous créons des sites web robustes et évolutifs hébergés dans un environnement dédié et sécurisé.</p>
        </div>
        <div class="col-md-5">
          <img
            data-src="/media/tech.png"
            alt=""
            class="img-fluid lazyload"
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Home',

  async asyncData ({ app }) {
    const { attributes } = await import('~/content/index.md')
    const { attributes: servicesFM } = await import('~/content/services.md')

    return {
      fm: attributes,
      servicesFM
    }
  }
}
</script>

<style lang="scss">
.logo-img {
  max-height: 75px;
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 150px
  }
}
</style>
