<template>
  <div>
    <section class="py-4 py-md-5 bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-md-center">
            <p class="text-primary">
              Prix approximatifs
            </p>
            <h1 class="m-0">
              {{ fm.heading }}
            </h1>
          </div>
        </div>
        <div class="row features-row mb--3">
          <div
            v-for="(pack, index) in fm.packs"
            :key="index"
            class="col-md-4 mb-3"
          >
            <article
              class="shadow-sm bg-white rounded h-100 d-flex flex-column rounded"
              style="overflow: hidden"
            >
              <div
                :class="`bg-${pack.bgColor}`"
                style="height: 6px"
              />
              <div
                class="text-center border-bottom py-4 px-3"
              >
                <h3 class="h4 text-center">
                  {{ pack.title }}
                </h3>
                <p class="small mb-3">
                  {{ pack.subtitle }}
                </p>
                <div
                  v-if="pack.sale_price"
                  class="position-relative"
                >
                  <p
                    class="position-absolute text-secondary mb-1"
                    style="bottom: -2.3rem; left: 50%; transform: translateX(-50%)"
                  >
                    <s>{{ pack.price }}</s>
                  </p>
                  <p class="h3 m-0">
                    {{ pack.sale_price }}
                  </p>
                </div>
                <p
                  v-else
                  class="h3 m-0"
                >
                  {{ pack.price }}
                </p>
              </div>
              <div class="py-2 px-3">
                <ul class="list-unstyled m-0 text-center">
                  <li
                    v-for="(feature, innerIndex) in pack.features"
                    :key="innerIndex"
                    class="my-2"
                    v-text="feature"
                  />
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="py-4 py-md-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 mb-5">
            <p class="text-primary">
              FAQ
            </p>
            <h1 class="m-0">
              {{ fm.faq.heading }}
            </h1>
          </div>
          <div class="col-md-10">
            <div class="mb--3 faq-columns">
              <div
                v-for="(item, index) in fm.faq.items"
                :key="index"
                class="mb-4 break-inside-avoid"
              >
                <dt class="h5">
                  {{ item.question }}
                </dt>
                <dd
                  class="m-0 ws-preline"
                  v-text="item.answer"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Pricing',

  async asyncData () {
    const { attributes } = await import('@/content/pricing.md')

    return {
      fm: attributes
    }
  }
}
</script>

<style lang="scss" scoped>
$gradients: (
  linear-gradient(to right, $blue, $purple),
  linear-gradient(to right, $purple, $primary),
  linear-gradient(to right, $primary, $green)
);

.features-row {
  .col-md-4 {
    .pricing-card {
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        height: 6px;
      }
    }

    @for $i from 1 through length($gradients) {
      $gradient: nth($gradients, $i);

      &:nth-of-type(#{$i}) .pricing-card::before {
        background: $gradient;
      }
    }
  }
}

.faq-columns {
  @include media-breakpoint-up(md) {
    columns: 2;
    column-gap: 3rem;
  }
}

.break-inside-avoid {
  break-inside: avoid;
}
</style>
