<template>
  <main class="py-4 py-md-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-md-center mb-4">
          <p class="text-primary">
            Des solutions technologiques adaptées
          </p>
          <h1 class="m-0">
            {{ fm.heading }}
          </h1>
        </div>
        <div class="col-12 text-center mb-4">
          <img
            src="/media/linkomweb-services-cover.jpg"
            alt=""
            class="img-fluid rounded"
          >
        </div>
        <div class="col-md-10 mb-5">
          <p class="m-0">
            {{ fm.text }}
          </p>
        </div>
        <div class="col-md-10">
          <div class="row mb--3">
            <div
              v-for="(service, index) in fm.services"
              :key="index"
              class="col-md-6 mb-3 service-col"
            >
              <span class="icon d-inline-flex justify-content-center rounded-circle p-1 mb-2 border">
                <i class="material-icons">
                  {{ service.icon }}
                </i>
              </span>
              <h2 class="h4 text-dark">
                {{ service.title }}
              </h2>
              <p
                class="ws-preline"
                v-text="service.long_description"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Services',

  async asyncData () {
    const { attributes } = await import('@/content/services.md')

    return {
      fm: attributes
    }
  }
}
</script>

<style lang="scss">
$serviceColors: ($red, $blue, $yellow, $green, $indigo, $purple, $orange, $teal, $cyan);

.service-col {
  @for $i from 1 through length($serviceColors) {
    $color: nth($serviceColors, $i);

    &:nth-of-type(#{$i}) {
      span.icon {
        border-color: $color !important;
        color: $color;
      }
    }
  }
}
</style>
