<template>
  <section class="py-4 py-md-5 container">
    <div class="row text-md-center justify-content-center mb-5">
      <div class="col-md-10">
        <p class="text-primary">
          Nos réalisations
        </p>
        <h1
          class="m-0"
          v-text="fm.heading"
        />
      </div>
    </div>
    <div class="row text-center mb--3">
      <div
        v-for="(project, index) in fm.projects"
        v-show="index < amountToShow"
        :key="index"
        class="col-md-4 mb-3"
      >
        <div
          :style="getBg(project.color)"
          class="p-2 mb-2 rounded"
        >
          <figure
            v-if="index < 3"
          >
            <img
              :src="$cloudinary(`/c_fill,w_1000,h_1390,g_north/f_auto,q_auto${project.img}`)"
              :alt="project.title"
              height="670"
              width="480"
              class="img-fluid rounded shadow zoomable"
            >
          </figure>
          <figure
            v-else
          >
            <img
              :data-src="$cloudinary(`/c_fill,w_1000,h_1390,g_north/f_auto,q_auto${project.img}`)"
              :alt="project.title"
              height="670"
              width="480"
              class="img-fluid rounded shadow zoomable lazyload"
            >
          </figure>
        </div>
        <a
          v-if="project.url"
          :href="project.url"
          class="text-dark d-flex justify-content-center align-items-center work-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <h3
            class="h6 mb-0 mr-1"
          >
            {{ project.title }}
          </h3>
          <i class="material-icons small align-middle">
            open_in_new
          </i>
        </a>
        <h3
          v-else
          class="h6 m-0 d-block"
        >
          {{ project.title }}
        </h3>

        <p class="p-1 small m-0 text-center">
          {{ project.subtitle }}
        </p>
      </div>
    </div>
    <div
      v-if="!reachedMax"
      class="text-center pt-4"
    >
      <button
        class="btn btn-light px-2"
        @click="showMore"
      >
        Voir plus de réalisations &plus;
      </button>
    </div>
  </section>
</template>

<script>
export default {

  data: () => ({
    amountToShow: 6
  }),

  computed: {
    reachedMax () {
      return this.amountToShow > this.fm.projects.length
    }
  },
  async asyncData () {
    const { attributes } = await import('@/content/work.md')

    return {
      fm: attributes
    }
  },

  mounted () {
    import('medium-zoom').then(module => {
      module.default(this.$el.querySelectorAll('.zoomable'), {
        background: 'rgba(255, 255, 255, 0.8)',
        margin: 16,
        scrollOffset: 80
      })
    })
  },
  methods: {
    showMore () {
      this.amountToShow += 6
    },
    getBg (color) {
      return {
        backgroundColor: color
      }
    }
  }
}
</script>

<style lang="scss" scoped>
figure {
  padding-top: 139.58%;
  position: relative;
  margin: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
